@use "sass:math";
@import "/node_modules/swiper/swiper.scss";
@import "/node_modules/swiper/modules/navigation/navigation.scss";
@import "/node_modules/swiper/modules/effect-fade/effect-fade";
/* Config */
@import "config/bootstrap";
@import "/node_modules/bootstrap/scss/bootstrap-grid";
@import "config/paths";
@import "config/colors";
@import "config/fonts";
@import "config/gutters";
@import "config/general";
@import "config/mixins";

/* Helpers */

/* Atoms */
@import "atoms/typography";
@import "atoms/icon";
@import "atoms/button";
@import "atoms/aspect-ratio";
@import "atoms/image";
@import "atoms/link";
@import "atoms/placeholders";
@import "atoms/lazyload";

/* Molecules */
//@import "molecules/grow-slide";

/* Organisms */
@import "organisms/header";
@import "organisms/main-info";
